
.pt-body-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pt-header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .pt-title-text {
      text-align: center;
      font-size: 1.5rem;
      text-decoration: underline;
    
    }
  }

  .pt-search-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-evenly;
  
    .pt-search-item {
      display: flex;
      flex-direction: column;
  
    }
  }
  
  //table styles
  table, th, td {
    border: 0.5px solid grey;
  
    td {
      text-align: center;

    }
  
  }
}

.pt-footer-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

