<p>Patients component working</p>
<div *ngIf="patientsData.entry">
  <table>
    <tr>
      <th>Patient family name</th>
      <th>Patient given name</th>
      <th>Patient Id</th>
      <th> Patient date of birth</th>
    </tr>
    <tr *ngFor="let data of patientsData.entry">
      <td>{{data.resource.name[0].family}}</td>
      <td>{{data.resource.name[0].given[0]}}</td>
      <td>{{data.resource.id}}</td>
    </tr>
  </table>
  <!-- <table>
      <tr>
        <th>First Name:</th>
        <td id='fname'></td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td id='lname'></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td id='gender'></td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td id='birthdate'></td>
      </tr>
      <tr>
        <th>Age:</th>
        <td id='age'></td>
      </tr>
    </table> -->
  <!-- <p *ngFor="let data of patientsData.entry">{{data.resource.id}}</p> -->
</div>

