.qf-container {
  width: 100%;

  .qf-single-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 20%;
    margin-top: 5px;
    margin-bottom: 5px;

    .qf-label-text {
      color: #2D728F;
      width: 210px;
    }

    @media screen and (max-width: 510px ){
      flex-direction: column;
      align-items: flex-start;
    }

  }

  .qf-question-section-container {
    max-width: 90%;

    .group-header-text {
      font-size: 1.25rem;
      font-weight: normal;
      color: #2D728F;
      display: inline;
      text-decoration: underline;
    }

    .qf-question-section {
      border-width: 1px;
      border-color: black;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  
      .qf-nested-questions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        height: 20%;
        // width: 60%;
        margin-top: 5px;
        margin-bottom: 5px;

        .qf-nested-labels {
          width: 210px;
          color: #698996;

          @media screen and (max-width: 510px) {
            width: 100%;
          }
        };

        .qf-nested-inputs {
          max-width: 75%;

          &.radio {
            width: 20px;

            @media screen and (max-width: 510px) {
              min-width: 25%;
            }
          }

          @media screen and (max-width: 510px) {
            min-width: 100px;
            width: 150px;
            max-width: 100%
          }
        };

        @media screen and (max-width: 510px)  {
          flex-direction: column;
        }
      };
    }

  }

  .qf-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .qf-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;

    .active {
      background-color: #97B1A6; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
    .disabled {
      background-color: #C9C5BA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
  }
  .radio-label {
    color: #2D728F;
  }
  .radio {
    width: 20px;
  }
}


